<!--<ion-header class="demo-header">-->
  <!--<div>-->
    <!--&lt;!&ndash;<img src="assets/icon/back_icon.png" alt="" (click)="goBack()" *ngIf="canGoBack()">&ndash;&gt;-->
    <!--<p class="one">TAB4</p>-->
  <!--</div>-->
<!--</ion-header>-->

<!--<ion-content>-->
  <!--<ion-list class="demo-ion-list" (click)="goMyPraise()">-->
    <!--<ion-item>-->
      <!--Settings-->
    <!--</ion-item>-->
  <!--</ion-list>-->
  <!--<ion-list class="demo-ion-list" (click)="goIonic2()">-->
    <!--<ion-item>-->
      <!--No Need for Login-->
    <!--</ion-item>-->
  <!--</ion-list>-->
  <!--<ion-list class="demo-ion-list" (click)="logout()" *ngIf="hasUuid">-->
    <!--<ion-item>-->
      <!--Logout-->
    <!--</ion-item>-->
  <!--</ion-list>-->
<!--</ion-content>-->
<!--<ion-footer>-->
  <!--<span class="footer-item" (click)="goTab1()">-->
    <!--<img src="../../assets/icon/buttomicon_1.png" alt="">-->
    <!--<span>首页</span>-->
  <!--</span>-->
  <!--<span class="footer-item" (click)="goTab2()">-->
    <!--<img src="../../assets/icon/buttomicon_3.png" alt="">-->
    <!--<span>政务资讯</span>-->
  <!--</span>-->
  <!--<span class="footer-item" (click)="goTab3()">-->
    <!--<img src="../../assets/icon/buttomicon_5.png" alt="">-->
    <!--<span>政民互动</span>-->
  <!--</span>-->
  <!--<span class="footer-item" (click)="goTab4()">-->
    <!--<img src="../../assets/icon/buttomicon_8.png" alt="">-->
    <!--<span class="two">服务中心</span>-->
  <!--</span>-->
  <!--<span class="footer-item" (click)="goTab5()">-->
    <!--<img src="../../assets/icon/buttomicon_9.png" alt="">-->
    <!--<span>发改矩阵</span>-->
  <!--</span>-->
<!--</ion-footer>-->

